<link rel="stylesheet" type="text/css" href='@Url.Content("~/Content/projetos_recentes.css")' />

<div class="recent-background go-center">

    <div class="container">

        <div class="row">
            <div class="col-md-12 aui-top-exp-rec mt-1 mb-1 clearfix">
                <h1 class="text-muted go-center ">experiências recentes</h1>
                <div class="go-center">
                    <img src="~/Images/commons/divider-recent-experience.png" />
                </div>
            </div>
        </div>

        <div class=" row col-md-12 aui-top-thumb-rec go-center">

            <div class="col-md-4">
                <div class="card">
                    <img src='@Url.Content("~/Images/portfolio/bradesco/carteira_stelo.png")' class="card-img-top" alt="Carteira Stelo" style="width:100%;height:190px" />
                    <div class="card-body aui-background">
                        <h3 class="card-title go-center">Bradesco</h3>
                        <p class="card-text go-center">Construção de páginas web e campanhas para o cliente Bradesco</p>
                    </div>
                </div>
            </div>


            <div class="col-md-4">
                <div class="card">
                    <img src='@Url.Content("~/Images/portfolio/cdhu/ca_cabecalho_rodape.png")' class="card-img-top" alt="CDHU" style="min-width:100%;min-height:190px"  />
                    <div class="card-body aui-background">
                        <h3 class="card-title go-center">CDHU</h3>
                        <p class="card-text go-center">Desenvolvimento de sistema de gestor de conteúdo para CDHU</p>
                    </div>
                </div>
            </div>



            <div class="col-md-4">
                <div class="card">
                    <img src='@Url.Content("~/Images/portfolio/secretariahabitacao/fale_conosco.png")' class="card-img-top " alt="Secretária da Habitação" style="min-width:100%;min-height:190px" />
                    <div class="card-body aui-background">
                        <h3 class="card-title go-center">Sec.da Habitação</h3>
                        <p class="card-text go-center">Funcionalidade de Fale Conosco para a Secretária da Habitação</p>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 ui-top-botton">
                <div>
                    <a href="@Url.Action("Portfolio","Home")">
                        <h3 class="aui-top-button-all go-center">ver todos</h3>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>



